{% extends "base.html" %}
{% load staticfiles %}

{% block title %}.: Welcome ยินดีต้อนรับ :.{% endblock %}

{% block content %}
<main id="content" class="ismartuby-masthead" tabindex="-1" role="main">
    <p class="container">
        <p class="lead-brand">iSmartuby</p>
        <p class="lead">เพื่อชีวิตที่ง่ายขึ้น</p>
        <a class="btn btn-primary btn-lg" href="#">ร่วมเป็นส่วนหนึ่งกับเรา</a>
    </div>
</main>

<div class="row">
    <div class="container-fluid">
        <p>ข้อความ</p>
    </div>
</div>
{% endblock %}